@font-face {
	font-family: "Oswald";
	src: url(../fonts/Oswald-Regular.ttf) format("truetype");
	
}
@font-face {
	font-family: "OpenSans-Light";
	src: url(/fonts/OpenSans-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: "TitilliumWeb";
	src: url(../fonts/TitilliumWeb-SemiBold.ttf);
}
@font-face {
	font-family: "OpenSans-Regular";
	src: url(../fonts/OpenSans-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: "OpenSans-SemiBold";
	src: url(../fonts/OpenSans-SemiBold.ttf);
	font-weight: 600;
}
.container {
	max-width: 1110px;
	
	margin: auto;
}
.wrapper {
	display: grid;
	grid-template-areas: 
		"top-bar"
		"first-screen"
		"main"
		"footer";
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
}
.top-bar {
	position: fixed;
	width: 100%;
	grid-area: top-bar;
	background-color: rgba(0, 91, 193, 0.6);
	padding: 11px 0px;
	padding-left: 40px;
	display: grid;
	
	grid-template-columns: minmax(100px, 735px) minmax(100px, auto);
	grid-auto-flow: auto;
	z-index: 2;
}
.logo {
	display: flex;
	gap: 7.26px;
	text-decoration: none;
}
.logo__text {
	text-transform: uppercase;
	font-family: "TitilliumWeb";
	line-height: 28.8px;
	font-size: 24px;
	color: white;
	letter-spacing: 3%;
	text-decoration: none;
}
.logo__text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 26px;
	padding-right: 60px;
}

.nav__item-link {
	text-decoration: none;
	font-family: "OpenSans-SemiBold";
	font-size: 14px;
	color: white;
}
.first-screen {
	grid-area: first-screen;
	background-image: url(../img/Rectangle2.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}
.first-screen__title {
	padding-top: 282px;
	font-family: "Oswald";
	font-size: 48px;
	color: white;
	line-height: 71.14px;
	letter-spacing: 1%;
	margin-bottom: 40px;
}
.first-screen__subtitle {
	font-family: "OpenSans-Regular";
	color: white;
	line-height: 21.79px;
	margin-bottom: 40px;
}
.first-screen__btn {
	text-decoration: none;
	border: 2px solid white;
	padding: 15px 40px 14px 41px;
	margin-bottom: 201px;
	text-transform: uppercase;
	color: white;
	font-family: "OpenSans-SemiBold";
}
.first-screen__title, .first-screen__subtitle, .first-screen__btn {
	margin-left: 190px;
}
.first-screen__container {
	position: relative;
	padding-bottom: 235px;
}
.first-screen__bg {
	width: 444px;
	height: 720px;
	position: absolute;
	top: 80px;
	left: 0px;
	background-color: rgba(0, 91, 193, 0.6);
	z-index: -1;
}
.main {
	grid-area: main;
}
.slider {
	margin-top: 150px;
	margin-bottom: 150px;
}
.title {
	font-family: "Oswald";
	font-size: 30px;
	letter-spacing: 5%;
	line-height: 44.46px;
	color: #343434;
	text-transform: uppercase;
}
.slider__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 65px;
}
.slider__decor {
	display: flex;
	flex-direction: column;
}
.line:nth-child(1) {
	width: 100px;
	height: 3px;
	background-color: #005BC1;
}
.line:nth-child(2) {
	margin-top: 10px;
	margin-left: 50px;
	width: 50px;
	height: 3px;
	background-color: #005BC1;
}
.title-container {
	display: flex;
	gap: 40px;
	align-items: center;
}
.slider__btns {
	display: flex;
	
}
.btn-b, .btn-n {
	width: 55px;
	height: 55px;
	border: 2px solid #005BC1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-b {
	border-right: 1px solid #005BC1;
}
.btn-n {
	border-left: 1px solid #005BC1;
}
.projects {
	display: flex;
	gap: 30px;
}
.project__img {
	width: 100%;
	max-width: 540px;
	height: auto;
}
.footer {
	grid-area: footer;
}